CMISObjectService.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://casemanagement.webservices.casem.fujitsu.fi/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns3="http://schemas.xmlsoap.org/soap/http" xmlns:ns1="http://docs.oasis-open.org/ns/cmis/ws/200908/" name="CMISObjectServiceService" targetNamespace="http://casemanagement.webservices.casem.fujitsu.fi/">
	<wsdl:import location="https://tiedonhallintapalvelutesti.tiera.fi:9443/casem-cmis-ws/CMISObjectService?wsdl=ObjectServicePort.wsdl" namespace="http://docs.oasis-open.org/ns/cmis/ws/200908/">
    </wsdl:import>
	<wsdl:binding name="CMISObjectServiceServiceSoapBinding" type="ns1:ObjectServicePort">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="createDocument">
			<soap:operation soapAction="createDocument" style="document"/>
			<wsdl:input name="createDocument">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="createDocumentResponse">
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="CmisException">
				<soap:fault name="CmisException" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="createDocumentFromSource">
			<soap:operation soapAction="createDocumentFromSource" style="document"/>
			<wsdl:input name="createDocumentFromSource">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="createDocumentFromSourceResponse">
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="CmisException">
				<soap:fault name="CmisException" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getContentStream">
			<soap:operation soapAction="getContentStream" style="document"/>
			<wsdl:input name="getContentStream">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="getContentStreamResponse">
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="CmisException">
				<soap:fault name="CmisException" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="appendContentStream">
			<soap:operation soapAction="appendContentStream" style="document"/>
			<wsdl:input name="appendContentStream">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="appendContentStreamResponse">
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="CmisException">
				<soap:fault name="CmisException" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="createRelationship">
			<soap:operation soapAction="createRelationship" style="document"/>
			<wsdl:input name="createRelationship">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="createRelationshipResponse">
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="CmisException">
				<soap:fault name="CmisException" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="deleteContentStream">
			<soap:operation soapAction="deleteContentStream" style="document"/>
			<wsdl:input name="deleteContentStream">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="deleteContentStreamResponse">
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="CmisException">
				<soap:fault name="CmisException" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="moveObject">
			<soap:operation soapAction="moveObject" style="document"/>
			<wsdl:input name="moveObject">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="moveObjectResponse">
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="CmisException">
				<soap:fault name="CmisException" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getProperties">
			<soap:operation soapAction="getProperties" style="document"/>
			<wsdl:input name="getProperties">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="getPropertiesResponse">
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="CmisException">
				<soap:fault name="CmisException" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="bulkUpdateProperties">
			<soap:operation soapAction="bulkUpdateProperties" style="document"/>
			<wsdl:input name="bulkUpdateProperties">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="bulkUpdatePropertiesResponse">
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="CmisException">
				<soap:fault name="CmisException" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="createItem">
			<soap:operation soapAction="" style="document"/>
			<wsdl:input name="createItem">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="createItemResponse">
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="CmisException">
				<soap:fault name="CmisException" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="createFolder">
			<soap:operation soapAction="createFolder" style="document"/>
			<wsdl:input name="createFolder">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="createFolderResponse">
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="CmisException">
				<soap:fault name="CmisException" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="setContentStream">
			<soap:operation soapAction="setContentStream" style="document"/>
			<wsdl:input name="setContentStream">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="setContentStreamResponse">
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="CmisException">
				<soap:fault name="CmisException" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="updateProperties">
			<soap:operation soapAction="updateProperties" style="document"/>
			<wsdl:input name="updateProperties">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="updatePropertiesResponse">
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="CmisException">
				<soap:fault name="CmisException" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="deleteObject">
			<soap:operation soapAction="deleteObject" style="document"/>
			<wsdl:input name="deleteObject">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="deleteObjectResponse">
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="CmisException">
				<soap:fault name="CmisException" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="CMISObjectServiceService">
		<wsdl:port binding="tns:CMISObjectServiceServiceSoapBinding" name="CMISObjectServicePort">
			<soap:address location="https://tiedonhallintapalvelutesti.tiera.fi:9443/casem-cmis-ws/CMISObjectService"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>