NovaWebSDK.xml

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://novawebservice.visma.com/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://novawebservice.visma.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://novawebservice.visma.com/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SDKVersion">
        <s:complexType />
      </s:element>
      <s:element name="SDKVersionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SDKVersionResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WebServiceVersion">
        <s:complexType />
      </s:element>
      <s:element name="WebServiceVersionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WebServiceVersionResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Execute">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sInputxml" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExecuteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ExecuteResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Execute2">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Inputxml">
              <s:complexType>
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Execute2Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Execute2Result">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExecuteEx">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sInputxml" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sInputfilename" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExecuteExResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ExecuteExResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="SDKVersionSoapIn">
    <wsdl:part name="parameters" element="tns:SDKVersion" />
  </wsdl:message>
  <wsdl:message name="SDKVersionSoapOut">
    <wsdl:part name="parameters" element="tns:SDKVersionResponse" />
  </wsdl:message>
  <wsdl:message name="WebServiceVersionSoapIn">
    <wsdl:part name="parameters" element="tns:WebServiceVersion" />
  </wsdl:message>
  <wsdl:message name="WebServiceVersionSoapOut">
    <wsdl:part name="parameters" element="tns:WebServiceVersionResponse" />
  </wsdl:message>
  <wsdl:message name="ExecuteSoapIn">
    <wsdl:part name="parameters" element="tns:Execute" />
  </wsdl:message>
  <wsdl:message name="ExecuteSoapOut">
    <wsdl:part name="parameters" element="tns:ExecuteResponse" />
  </wsdl:message>
  <wsdl:message name="Execute2SoapIn">
    <wsdl:part name="parameters" element="tns:Execute2" />
  </wsdl:message>
  <wsdl:message name="Execute2SoapOut">
    <wsdl:part name="parameters" element="tns:Execute2Response" />
  </wsdl:message>
  <wsdl:message name="ExecuteExSoapIn">
    <wsdl:part name="parameters" element="tns:ExecuteEx" />
  </wsdl:message>
  <wsdl:message name="ExecuteExSoapOut">
    <wsdl:part name="parameters" element="tns:ExecuteExResponse" />
  </wsdl:message>
  <wsdl:portType name="NovaWebSDKSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SDKVersion">
      <wsdl:input message="tns:SDKVersionSoapIn" />
      <wsdl:output message="tns:SDKVersionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WebServiceVersion">
      <wsdl:input message="tns:WebServiceVersionSoapIn" />
      <wsdl:output message="tns:WebServiceVersionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Execute">
      <wsdl:input message="tns:ExecuteSoapIn" />
      <wsdl:output message="tns:ExecuteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Execute2">
      <wsdl:input message="tns:Execute2SoapIn" />
      <wsdl:output message="tns:Execute2SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ExecuteEx">
      <wsdl:input message="tns:ExecuteExSoapIn" />
      <wsdl:output message="tns:ExecuteExSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NovaWebSDKSoap" type="tns:NovaWebSDKSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://novawebservice.visma.com/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SDKVersion">
      <soap:operation soapAction="http://novawebservice.visma.com/SDKVersion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WebServiceVersion">
      <soap:operation soapAction="http://novawebservice.visma.com/WebServiceVersion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Execute">
      <soap:operation soapAction="http://novawebservice.visma.com/Execute" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Execute2">
      <soap:operation soapAction="http://novawebservice.visma.com/Execute2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExecuteEx">
      <soap:operation soapAction="http://novawebservice.visma.com/ExecuteEx" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NovaWebSDKSoap12" type="tns:NovaWebSDKSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://novawebservice.visma.com/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SDKVersion">
      <soap12:operation soapAction="http://novawebservice.visma.com/SDKVersion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WebServiceVersion">
      <soap12:operation soapAction="http://novawebservice.visma.com/WebServiceVersion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Execute">
      <soap12:operation soapAction="http://novawebservice.visma.com/Execute" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Execute2">
      <soap12:operation soapAction="http://novawebservice.visma.com/Execute2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExecuteEx">
      <soap12:operation soapAction="http://novawebservice.visma.com/ExecuteEx" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="NovaWebSDK">
    <wsdl:port name="NovaWebSDKSoap" binding="tns:NovaWebSDKSoap">
      <soap:address location="https://ltr4.od.visma.fi/NovaWebService/NovaWebSDK.asmx" />
    </wsdl:port>
    <wsdl:port name="NovaWebSDKSoap12" binding="tns:NovaWebSDKSoap12">
      <soap12:address location="https://ltr4.od.visma.fi/NovaWebService/NovaWebSDK.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>